@{
    ViewData["Title"] = "Game";
}

<h1>Rock, Paper, Scissors, Lizard, Spock</h1>
<h2>Rules:</h2>

<p>
    The game is an expansion on the game Rock, Paper, Scissors. Each player picks a variable and reveals it at the same time. The winner is the one who defeats the others. In a tie, the process is repeated until a winner is found.<br />
</p>
<ul>
    <li>Scissors cuts Paper</li>
    <li>Paper covers Rock</li>
    <li>Rock crushes Lizard</li>
    <li>Lizard poisons Spock</li>
    <li>Spock smashes Scissors</li>
    <li>Scissors decapitates Lizard</li>
    <li>Lizard eats Paper</li>
    <li>Paper disproves Spock</li>
    <li>Spock vaporizes Rock</li>
    <li>Rock crushes Scissors</li>
</ul>
<form asp-controller="Game" asp-action="Index">
    <div class="container form-group" style="padding: 10px">
        <input class="btn btn-primary btn-sm" type="submit" value="Rock" name="userSelection" />
        <input class="btn btn-primary btn-sm" type="submit" value="Paper" name="userSelection" />
        <input class="btn btn-primary btn-sm" type="submit" value="Scissors" name="userSelection" />
        <input class="btn btn-primary btn-sm" type="submit" value="Lizard" name="userSelection" />
        <input class="btn btn-primary btn-sm" type="submit" value="Spock" name="userSelection" />
    </div>
</form>

@if (!String.IsNullOrEmpty(ViewData["UserSelection"].ToString()))
{
    <div>
        <p>@ViewData["userSelection"]</p>
    </div>
    <div>
        <p>@ViewData["AiSelection"]</p>
    </div>
}


<div>
    @if (!String.IsNullOrEmpty(ViewData["Winner"].ToString()))
    {
        <p>@ViewData["Winner"]</p>
    }

    else if (!String.IsNullOrEmpty(ViewData["Loser"].ToString()))
    {
        <p>@ViewData["Loser"]</p>
    }

    else
    {
        <p>@ViewData["Draw"]</p>
    }

</div>